# Twitter NLP Classification Project

Goal: Create a ML model for Business Category tweets

In [2]:
import pandas as pd

In [ ]:
#For Google Colab
#url ='https://raw.githubusercontent.com/akutayaydin/Magnimind-3/main/nyc-rolling-sales.csv'
#df = pd.read_csv(url)

In [3]:
df = pd.read_csv('tweet_data.csv')

In [4]:
#Select Business Category Only as Request
df = df[df['topicName'] == 'Business']

In [5]:
df.head(10)

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl
0,1070867471245164544,2018-12-07 02:27:55,-1,-1,98,False,True,False,64,https://pbs.twimg.com/media/Dtx8SiIWkAImVsb.jpg,34,-1,The immediate impulse for an alliance of the E...,Business,23464532,5988062,The Economist,NaN
1,1070868017888837633,2018-12-07 02:30:05,-1,-1,13,False,True,False,10,https://pbs.twimg.com/media/Dtx8yTyW4AEciqP.jpg,3,-1,America's economy is flashing some warning sig...,Business,1732809,16184358,CNN Business,NaN
2,1070868012864028673,2018-12-07 02:30:04,-1,-1,12,False,True,False,8,NaN,4,-1,Lyft files for what is expected to be one of t...,Business,2253989,25053299,FORTUNE,NaN
3,1070867995239555075,2018-12-07 02:30:00,-1,-1,5,False,True,False,4,NaN,1,-1,"Exporters still waiting to get Rs 6,000 crore ...",Business,1704056,43855487,Business Standard,NaN
4,1070867995205885952,2018-12-07 02:30:00,-1,-1,5,False,True,False,2,NaN,3,-1,Ride-hailing firm Lyft races to leave Uber beh...,Business,1997662,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...
6,1070868102160769025,2018-12-07 02:30:25,-1,-1,31,False,True,False,17,https://pbs.twimg.com/media/Dtx83JvX4AE48aw.jpg,14,-1,-Asian stocks post modest gains \n-S&P 500 fut...,Business,5033221,34713362,Bloomberg,NaN
7,1070868071844376576,2018-12-07 02:30:18,-1,-1,9,False,True,False,7,NaN,2,-1,What's your pick? https://t.co/a0nnFRqIQ3,Business,2318088,2735591,Fast Company,NaN
8,1070868063359262720,2018-12-07 02:30:16,-1,-1,4,False,True,False,4,NaN,0,-1,Dick's CEO Ed Stack totals up how many employe...,Business,48736,14921083,Business Journals,NaN
9,1070868025887387648,2018-12-07 02:30:07,-1,-1,90,False,True,False,63,NaN,27,-1,A meeting of tech leaders at the White House m...,Business,16198522,3108351,The Wall Street Journal,NaN
11,1070875544533663746,2018-12-07 03:00:00,-1,-1,7,False,True,False,2,NaN,5,-1,Wall Street recovers slightly from earlier los...,Business,1997685,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164602 entries, 0 to 785869
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   tweetID     164602 non-null  int64
 1   crDate      164602 non-null  object
 2   edInput     164602 non-null  int64
 3   editor      164602 non-null  int64
 4   engages     164602 non-null  int64
 5   isApproved  164602 non-null  bool
 6   isEdNeed    164602 non-null  bool
 7   isRT        164602 non-null  bool
 8   likes       164602 non-null  int64
 9   photoUrl    20134 non-null   object
 10  retweets    164602 non-null  int64
 11  rtUsID      164602 non-null  int64
 12  text        164602 non-null  object
 13  topicName   164602 non-null  object
 14  usFlwrs     164602 non-null  int64
 15  usID        164602 non-null  int64
 16  usName      164602 non-null  object
 17  videoUrl    25446 non-null   object
dtypes: bool(3), int64(9), object(6)
memory usage: 20.6+ MB

>Preprocessing starts here

In [7]:
df_section = df[['tweetID','text','topicName','usID','usName']].copy()

We dont need these columns.
5 unique values for edInput : (5, array([-1,  2,  1,  4,  3]))
2 unique values for isApproved: (2, array([False,  True]))
12 unique values for editor: (12,
 array([  -1, 5001, 5003, 5004, 5002, 1001, 2001, 5006, 5101, 5005, 5008,
        5007]))
42 unique values for topicname:(42,
 array(['Business', 'Animal', 'Memes', 'Nature', 'Travel', 'Interesting',
        'News', 'Fashion', 'Art', 'Personal Development', 'Motivational',
        'DIY & Craft', 'Editorial Pics', 'Funny', 'Poem', 'World Leaders',
        'Entrepreneurship', 'US News', 'Journalists', 'Flowers',
        'Cryptocurrency', 'Photography', 'Design & Architecture',
        'Fitness', 'Spirituality', 'Startup', 'Space', 'Technology',
        'Digital Media & Internet', 'Psychology', 'Science', 'Basketball',
        'Humor', 'Mindfulness', 'Medical', 'Informative', 'Love', 'Stocks',
        'Nanotech', 'Biotech', 'science', 'Random'], dtype=object))

In [8]:
#Remove duplicates from the dataframe

In [9]:
df_section = df_section.drop_duplicates(subset='text')

In [10]:
df_section.head()

,tweetID,text,topicName,usID,usName
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business

In [11]:
text_data = df.iloc[6:7,12]

In [12]:
topic_name = df.iloc[6:7,13]

In [13]:
print(text_data.values),print(topic_name.values)

["What's your pick? https://t.co/a0nnFRqIQ3"]
['Business']

(None, None)

>Tokenize starts here

In [14]:
import re
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords

In [15]:
tknz =TweetTokenizer()

In [16]:
#Extrack link from text
url_pattern = r"([http#]\W+)"

In [17]:
df_section['tokens'] =''

In [18]:
df_section.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164536 entries, 0 to 785869
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tweetID    164536 non-null  int64
 1   text       164536 non-null  object
 2   topicName  164536 non-null  object
 3   usID       164536 non-null  int64
 4   usName     164536 non-null  object
 5   tokens     164536 non-null  object
dtypes: int64(2), object(4)
memory usage: 8.8+ MB

In [19]:
df_section['tokens'] = df['text'].apply(tknz.tokenize)

In [392]:
df_section.head()

,tweetID,text,topicName,usID,usName,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"[The, immediate, impulse, for, an, alliance, o..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"[America's, economy, is, flashing, some, warni..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"[Lyft, files, for, what, is, expected, to, be,..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"[Exporters, still, waiting, to, get, Rs, 6,000..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"[Ride-hailing, firm, Lyft, races, to, leave, U..."

In [20]:
df_section.shape

(164536, 6)

In [328]:
#no_stop = df_section['tokens'].apply(lambda x: t for t in x if t not in stopwords.words('english'))

In [21]:
#Convert the list to lowercase
def convert_string_lower(strings):
    newList = []
    for string in strings:
        newList.append(string.lower())
    return newList

df_section['tokens'] = list(map(convert_string_lower,df_section['tokens']))

In [22]:
df_section

,tweetID,text,topicName,usID,usName,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"[the, immediate, impulse, for, an, alliance, o..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"[america's, economy, is, flashing, some, warni..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"[lyft, files, for, what, is, expected, to, be,..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"[exporters, still, waiting, to, get, rs, 6,000..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"[ride-hailing, firm, lyft, races, to, leave, u..."
...,...,...,...,...,...,...
785813,1154171703519350784,🚨 Spoilers ahead 🚨\nFinished #StrangerThings? ...,Business,2401975454,Kim Renfro,"[🚨, spoilers, ahead, 🚨, finished, #strangerthi..."
785817,1154173199808172032,Be ready for the imminently possible. AI techn...,Business,237417499,Bloomberg Live,"[be, ready, for, the, imminently, possible, .,..."
785829,1154066208997695490,These cakes are topped with yogurt 🎂 https://t...,Business,4805771380,FOOD INSIDER,"[these, cakes, are, topped, with, yogurt, 🎂, h..."
785854,1154059414174703617,Are you team Shake Shack or team In-N-Out? htt...,Business,4805771380,FOOD INSIDER,"[are, you, team, shake, shack, or, team, in-n-..."
785869,1154051110761422849,These dollar-menu Taco Bell items are perfect ...,Business,4805771380,FOOD INSIDER,"[these, dollar-menu, taco, bell, items, are, p..."

In [25]:
#stop_words = list(get_stop_words('en'))         
nltk_words = stopwords.words('english')

def remove_stopwords(string):
    output = [w for w in string if w not in nltk_words]
    #for t in string: 
        #if t not in stopwords.words('english'):
            #no_stop = ','.join(t)
    return output

#df_section['tokens'] =df_section['tokens'].apply(remove_stopwords)
df_section['tokens'] = df_section['tokens'].apply(remove_stopwords)
#df_section.iloc[1:10,5] = df_section.iloc[1:10,5].apply(remove_stopwords)

In [69]:
#X = df_section['tokens'].isin(['impulse'])
#X = df_section['usName'].str.contains('Economist').any()
X = df_section.tokens.str.contains('files').any()

In [114]:
df_section

,tweetID,text,topicName,usID,usName,tokens,tokens11
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"[immediate, impulse, alliance, eu's, northern,...",NaN
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"[america's, economy, flashing, warning, signs,...",NaN
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"[lyft, files, expected, one, hottest, ipos, 20...",NaN
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"[exporters, still, waiting, get, rs, 6,000, cr...",NaN
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"[ride-hailing, firm, lyft, races, leave, uber,...",NaN
...,...,...,...,...,...,...,...
785813,1154171703519350784,🚨 Spoilers ahead 🚨\nFinished #StrangerThings? ...,Business,2401975454,Kim Renfro,"[🚨, spoilers, ahead, 🚨, finished, #strangerthi...",NaN
785817,1154173199808172032,Be ready for the imminently possible. AI techn...,Business,237417499,Bloomberg Live,"[ready, imminently, possible, ., ai, technolog...",NaN
785829,1154066208997695490,These cakes are topped with yogurt 🎂 https://t...,Business,4805771380,FOOD INSIDER,"[cakes, topped, yogurt, 🎂, https://t.co/a4xmkp...",NaN
785854,1154059414174703617,Are you team Shake Shack or team In-N-Out? htt...,Business,4805771380,FOOD INSIDER,"[team, shake, shack, team, in-n-out, ?, https:...",NaN
785869,1154051110761422849,These dollar-menu Taco Bell items are perfect ...,Business,4805771380,FOOD INSIDER,"[dollar-menu, taco, bell, items, perfect, cele...",NaN

In [119]:
#Check if any stop words exists
df_section[['the' in x for x in df_section['tokens']]]

Empty DataFrame
Columns: [tweetID, text, topicName, usID, usName, tokens, tokens11]
Index: []

In [50]:
df_section.head(50)

,tweetID,text,topicName,usID,usName,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"[immediate, impulse, alliance, eu's, northern,..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"[america's, economy, flashing, warning, signs,..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"[lyft, files, expected, one, hottest, ipos, 20..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"[exporters, still, waiting, get, rs, 6,000, cr..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"[ride-hailing, firm, lyft, races, leave, uber,..."
6,1070868102160769025,-Asian stocks post modest gains \n-S&P 500 fut...,Business,34713362,Bloomberg,"[-, asian, stocks, post, modest, gains, -, &, ..."
7,1070868071844376576,What's your pick? https://t.co/a0nnFRqIQ3,Business,2735591,Fast Company,"[what's, pick, ?, https://t.co/a0nnfrqiq3]"
8,1070868063359262720,Dick's CEO Ed Stack totals up how many employe...,Business,14921083,Business Journals,"[dick's, ceo, ed, stack, totals, many, employe..."
9,1070868025887387648,A meeting of tech leaders at the White House m...,Business,3108351,The Wall Street Journal,"[meeting, tech, leaders, white, house, marked,..."
11,1070875544533663746,Wall Street recovers slightly from earlier los...,Business,15110357,Reuters Business,"[wall, street, recovers, slightly, earlier, lo..."
12,1070875308939722752,New research suggests you should set harder go...,Business,14800270,Harvard Biz Review,"[new, research, suggests, set, harder, goals, ..."
13,1070874978558640128,Judge orders U.S. State Department to disclose...,Business,34713362,Bloomberg,"[judge, orders, u, ., ., state, department, di..."
14,1070874753135607808,"#RajasthanElection2018 LIVE: Voting begins, Sa...",Business,43855487,Business Standard,"[#rajasthanelection2018, live, :, voting, begi..."
15,1070874557110804480,A room full of Alpine cheese is one of Bloombe...,Business,34713362,Bloomberg,"[room, full, alpine, cheese, one, bloomberg's,..."
16,1070874388436680704,"#TelanganaElection2018 LIVE: @narendramodi , @...",Business,43855487,Business Standard,"[#telanganaelection2018, live, :, @narendramod..."
17,1070873296894394369,IBM sells software assets for $1.8 billion to ...,Business,34713362,Bloomberg,"[ibm, sells, software, assets, $, 1.8, billion..."
18,1070873237507239936,An IPO that could value this biotech firm at a...,Business,34713362,Bloomberg,"[ipo, could, value, biotech, firm, eye-popping..."
19,1070873027754086400,He starts every day with a 60-minute routine h...,Business,20562637,Business Insider,"[starts, every, day, 60, -, minute, routine, h..."
20,1070872579026640899,Economic growth may become a casualty of the t...,Business,34713362,Bloomberg,"[economic, growth, may, become, casualty, tug-..."
21,1070872567223853061,CBS still paying legal settlement over allegat...,Business,16184358,CNN Business,"[cbs, still, paying, legal, settlement, allega..."
22,1070872539134615552,Fiat Chrysler Automobiles is planning to conve...,Business,1754641,NYT Business,"[fiat, chrysler, automobiles, planning, conver..."
23,1070872504850370560,Fed officials are hinting that the pace of rat...,Business,16334857,Real Time Economics,"[fed, officials, hinting, pace, rate, increase..."
24,1070871794033324032,Microsoft's president says society is ill-serv...,Business,3108351,The Wall Street Journal,"[microsoft's, president, says, society, ill-se..."
25,1070871793878093824,Microsoft’s warning about a powerful technolog...,Business,25053299,FORTUNE,"[microsoft, ’, warning, powerful, technology, ..."
26,1070749715229274112,Ready to arm wrestle? 💪 https://t.co/pJElzGuwTM,Business,3226282347,INSIDER,"[ready, arm, wrestle, ?, 💪, https://t.co/pjelz..."
27,1070871740161626114,"""For the first time in 10 years, cash is an as...",Business,624413,MarketWatch,"["", first, time, 10, years, ,, cash, asset, cl..."
28,1070871726437908482,Japan biotech stock rockets 155% after breakth...,Business,34713362,Bloomberg,"[japan, biotech, stock, rockets, 155, %, break..."
29,1070871723187277830,"On close inspection, ancient mythology turns o...",Business,5988062,The Economist,"[close, inspection, ,, ancient, mythology, tur..."
30,1070871636516241408,The collateral damage of Tumblr’s porn ban htt...,Business,2735591,Fast Company,"[collateral, damage, tumblr, ’, porn, ban, htt..."
31,1070871518031228928,"Market ahead: Before the opening bell, listen ...",Business,43855487,Business Standard,"[market, ahead, :, opening, bell, ,, listen, m..."
32,1070870663014027266,Chinese state media call Huawei CFO's arrest a...,Business,34713362,Bloomberg,"[chinese, state, media, call, huawei, cfo's, a..."
33,1070870458965344256,Wells Fargo says it’s a different bank today t...,Business,34713362,Bloomberg,"[wells, fargo, says, ’, different, bank, today..."
34,1070870279335919617,Oil drops as OPEC makes supply cut dependent o...,Business,15110357,Reuters Business,"[oil, drops, opec, makes, supply, cut, depende..."
35,1070869973625724930,It’s time to start paying your taxes like a bi...,Business,28175577,WSJ Personal Finance,"[’, time, start, paying, taxes, like, billiona..."
36,1070869756389945344,KidStance creates customized electric toy cars...,Business,20562637,Business Insider,"[kidstance, creates, customized, electric, toy..."
37,1070869756150837248,.@RBI sub-committee did not discuss easing len...,Business,43855487,Business Standard,"[., @rbi, sub-committee, discuss, easing, lend..."
38,1070869032033808384,The internet is loving Instagram's latest glit...,Business,34713362,Bloomberg,"[internet, loving, instagram's, latest, glitch..."
39,1070868886734671872,The 2019 Pantone Color of the Year--and its su...,Business,16896485,Inc.,"[2019, pantone, color, year--and, surprising, ..."
62,1070883094520041474,Ride-hailing firm Lyft leaves Uber in the dust...,Business,15110357,Reuters Business,"[ride-hailing, firm, lyft, leaves, uber, dust,..."
63,1070882864345083906,Our reporters write that the success of “60 Mi...,Business,1754641,NYT Business,"[reporters, write, success, “, 60, minutes, ”,..."
64,1070882742685106176,Trump is losing the trade war by one of his ow...,Business,34713362,Bloomberg,"[trump, losing, trade, war, one, metrics, http..."
65,1070882603304136705,A 13-Year UC Berkeley Study Reveals the Ingred...,Business,16896485,Inc.,"[13, -, year, uc, berkeley, study, reveals, in..."
66,1070882588984774656,Walmart CEO warns customers might pay if trade...,Business,624413,MarketWatch,"[walmart, ceo, warns, customers, might, pay, t..."
67,1070882354758066176,Save on gifts and more. https://t.co/230HFZEfKw,Business,15764136,USA TODAY Money,"[save, gifts, ., https://t.co/230hfzefkw]"
68,1070882087228530688,Today's picks: From Coal India to Maruti Suzuk...,Business,43855487,Business Standard,"[today's, picks, :, coal, india, maruti, suzuk..."
69,1070882027451412480,"Asia shares struggle to rally, oil skids furth...",Business,15110357,Reuters Business,"[asia, shares, struggle, rally, ,, oil, skids,..."
70,1070881356408909826,Boeing is sticking with an upbeat view on Chin...,Business,34713362,Bloomberg,"[boeing, sticking, upbeat, view, china, even, ..."
71,1070880838722772992,U.S. factory orders post largest drop in more ...,Business,19546277,Yahoo Finance,"[u, ., ., factory, orders, post, largest, drop..."
72,1070880667590934529,Apple supplier Broadcom suggests older iPhones...,Business,34713362,Bloomberg,"[apple, supplier, broadcom, suggests, older, i..."
73,1070880658107580416,Nissan ex-chairman Ghosn expected to be indict...,Business,15110357,Reuters Business,"[nissan, ex-chairman, ghosn, expected, indicte..."

In [304]:
no_stop =no_stop.lower()

AttributeError: 'DataFrame' object has no attribute 'lower'

In [296]:
#print(df_section['tokens'].apply(lambda x: y.lower() for y in x) )

#list(map(x.lower()))
#apply(lambda x: a.lower().join() for a in x)

       <lambda> <lambda> <lambda> <lambda> <lambda> <lambda> <lambda>  \
0        dick's      ceo       ed    stack   totals       up      how
1        dick's      ceo       ed    stack   totals       up      how
2        dick's      ceo       ed    stack   totals       up      how
3        dick's      ceo       ed    stack   totals       up      how
4        dick's      ceo       ed    stack   totals       up      how
...         ...      ...      ...      ...      ...      ...      ...
785813   dick's      ceo       ed    stack   totals       up      how
785817   dick's      ceo       ed    stack   totals       up      how
785829   dick's      ceo       ed    stack   totals       up      how
785854   dick's      ceo       ed    stack   totals       up      how
785869   dick's      ceo       ed    stack   totals       up      how

       <lambda> <lambda> <lambda>
0          many  employe      ...
1          many  employe      ...
2          many  employe      ...
3          many  employe      ...
4          many  employe      ...
...         ...      ...      ...
785813     many  employe      ...
785817     many  employe      ...
785829     many  employe      ...
785854     many  employe      ...
785869     many  employe      ...

[164536 rows x 10 columns]

In [ ]:
#df_section['tokens_most_common'] = ''

In [279]:
#df_section['tokens_most_common'] = df_section['tokens'].apply(lambda x: Counter(x).most_common(2))
#Counter(df_section['tokens'] ).most_common(2)

In [280]:
df_section

,tweetID,text,topicName,usID,usName,tokens,tokens_most_common
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"[The, immediate, impulse, for, an, alliance, o...","[(The, 1), (immediate, 1)]"
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"[America's, economy, is, flashing, some, warni...","[(-, 4), (America's, 1)]"
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"[Lyft, files, for, what, is, expected, to, be,...","[(Lyft, 1), (files, 1)]"
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"[Exporters, still, waiting, to, get, Rs, 6,000...","[(,, 4), (tax, 2)]"
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"[Ride-hailing, firm, Lyft, races, to, leave, U...","[(Ride-hailing, 1), (firm, 1)]"
...,...,...,...,...,...,...,...
785813,1154171703519350784,🚨 Spoilers ahead 🚨\nFinished #StrangerThings? ...,Business,2401975454,Kim Renfro,"[🚨, Spoilers, ahead, 🚨, Finished, #StrangerThi...","[(🚨, 2), (into, 2)]"
785817,1154173199808172032,Be ready for the imminently possible. AI techn...,Business,237417499,Bloomberg Live,"[Be, ready, for, the, imminently, possible, .,...","[(., 4), (the, 2)]"
785829,1154066208997695490,These cakes are topped with yogurt 🎂 https://t...,Business,4805771380,FOOD INSIDER,"[These, cakes, are, topped, with, yogurt, 🎂, h...","[(These, 1), (cakes, 1)]"
785854,1154059414174703617,Are you team Shake Shack or team In-N-Out? htt...,Business,4805771380,FOOD INSIDER,"[Are, you, team, Shake, Shack, or, team, In-N-...","[(team, 2), (Are, 1)]"
785869,1154051110761422849,These dollar-menu Taco Bell items are perfect ...,Business,4805771380,FOOD INSIDER,"[These, dollar-menu, Taco, Bell, items, are, p...","[(These, 1), (dollar-menu, 1)]"

In [238]:
#use this part to split the text column
#X = df_section.iloc[4:5,5].to_string().split(",")

In [246]:
df_section

,tweetID,text,topicName,usID,usName,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"The,immediate,impulse,for,an,alliance,of,the,E..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"America's,economy,is,flashing,some,warning,sig..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"Lyft,files,for,what,is,expected,to,be,one,of,t..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"Exporters,still,waiting,to,get,Rs,6,000,crore,..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"Ride-hailing,firm,Lyft,races,to,leave,Uber,beh..."
...,...,...,...,...,...,...
785813,1154171703519350784,🚨 Spoilers ahead 🚨\nFinished #StrangerThings? ...,Business,2401975454,Kim Renfro,
785817,1154173199808172032,Be ready for the imminently possible. AI techn...,Business,237417499,Bloomberg Live,
785829,1154066208997695490,These cakes are topped with yogurt 🎂 https://t...,Business,4805771380,FOOD INSIDER,
785854,1154059414174703617,Are you team Shake Shack or team In-N-Out? htt...,Business,4805771380,FOOD INSIDER,
785869,1154051110761422849,These dollar-menu Taco Bell items are perfect ...,Business,4805771380,FOOD INSIDER,

In [231]:
df_section

,tweetID,text,topicName,usID,usName,tokens
0,1070867471245164544,The immediate impulse for an alliance of the E...,Business,5988062,The Economist,"The,immediate,impulse,for,an,alliance,of,the,E..."
1,1070868017888837633,America's economy is flashing some warning sig...,Business,16184358,CNN Business,"America's,economy,is,flashing,some,warning,sig..."
2,1070868012864028673,Lyft files for what is expected to be one of t...,Business,25053299,FORTUNE,"Lyft,files,for,what,is,expected,to,be,one,of,t..."
3,1070867995239555075,"Exporters still waiting to get Rs 6,000 crore ...",Business,43855487,Business Standard,"Exporters,still,waiting,to,get,Rs,6,000,crore,..."
4,1070867995205885952,Ride-hailing firm Lyft races to leave Uber beh...,Business,15110357,Reuters Business,"Ride-hailing,firm,Lyft,races,to,leave,Uber,beh..."
...,...,...,...,...,...,...
785813,1154171703519350784,🚨 Spoilers ahead 🚨\nFinished #StrangerThings? ...,Business,2401975454,Kim Renfro,
785817,1154173199808172032,Be ready for the imminently possible. AI techn...,Business,237417499,Bloomberg Live,
785829,1154066208997695490,These cakes are topped with yogurt 🎂 https://t...,Business,4805771380,FOOD INSIDER,
785854,1154059414174703617,Are you team Shake Shack or team In-N-Out? htt...,Business,4805771380,FOOD INSIDER,
785869,1154051110761422849,These dollar-menu Taco Bell items are perfect ...,Business,4805771380,FOOD INSIDER,

In [ ]:
Notes:
    1. Check urllinks - related to business websites
    2. Agirlik ortalamasi belirlemek 
    3. drop duplicates